*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
header{
    background-color: rgb(255, 144, 14, .10);
    padding: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 1rem;
}nav li a{
    text-decoration: none;
    color: #424242;
}

/*============ Banner css start============= */


.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}
.banner img{
    width: 100%;
    margin-top: 10px;
}


/* media queary small devices  */
@media screen and (max-width:576px) {
   header{
    padding: 10px;
   } 
   nav, nav>ul{
    flex-direction: column;
   }
}


@media screen and (min-width: 576px) and (max-width: 960px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}